---

---

<section class="error-page">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title fade-in-up">Página no encontrada</h2>
      <p class="section-subtitle fade-in-up">
        ¡Ups! La página que buscas no se encuentra 🫣
      </p>
      <p class="section-subtitle fade-in-up">
        No te preocupes, esto puede pasar cuando se mueven páginas o hay enlaces
        rotos. Te ayudamos a encontrar lo que necesitas.
      </p>
    </div>
  </div>
</section>
